<% @page_title ="Admin Menu" %>
<% @panel_header ="Admin Management Center" %>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <ul>
      	<li><%= link_to('Mange Subject\'s content',{:controller => 'subjects'}) %></li>
      	<li><%= link_to('Mange Admin Users',{:controller => 'admin_users'}) %></li>
      </ul>
   </div>
   <div class="col-lg-4"> </div>
</div>