<% if object && object.errors.size > 0 %>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="panel panel-danger">
          <div class="panel-heading text-center">
             <p><%= pluralize(object.errors.size, "error") %> prohibited this record from being saved </p> 
          </div><!-- /.panel-heading -->
            <div class="panel-body">
            	<ol>
            		<% object.errors.full_messages.each do |msg| %>
      						<li><%= msg %></li>
      					<% end %>		
				       </ol> 
			       </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    </div>
    <div class="col-lg-4"></div>
</div>  
<% end %>